/* Hide these classes, unless javascript shows them. */
.fb_show {display: none;}
.fb_connected, .fb_not_connected {display:none;}

/*
 * Make links look like facebook buttons.
 * If you can improve this, please submit patch to http://drupal.org/project/issues/fb
 */
.fb_button_style {
    display: inline-block;
/*    border: 1px solid #294473;*/
}

.fb_button_style a:link,
.fb_button_style a:visited,
.fb_button_style a {
    background:url(images/f_logo.png) center left no-repeat;
    background-size: 22px 22px;
    padding-left: 22px;
    display: inline-block;
    background-color: #5f78ab;
}

.fb_button_style a span {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 4px;
}

.fb_button_style a div,
.fb_button_style a span {
    cursor: pointer;
}

