/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the default font size on small touch devices */
body {
  font-size: 100%;
}

/* =============================================================================
 *   Mobile Menu Toggle
 *   See your theme settings extensions for how to enable the menu toggle.
 *   These are example styles for the menu toggle menu, you can use these in the
 *   relevant responsive stylesheets as required. Modify to suit your design.
 * ========================================================================== */
/* The toggle link */
.at-mt .at-menu-toggle h2 {
  margin-bottom: 5px;
}

.at-mt .at-menu-toggle h2 a {
  background: #eee;
  border: 2px solid #ccc;
  padding: 2px 10px;
}

/* Menu items */
.at-mt .at-menu-toggle ul.menu li a {
  background: #eee;
  border-bottom: 1px solid #fff;
}

h1.fashion-term-header {
-webkit-transition: all 0.24s ease-out;
-moz-transition: all 0.24s ease-out;
-o-transition: all 0.24s ease-out;
transition: all 0.24s ease-out;
filter: alpha(opacity=85);
background: black;
position: absolute;
width: 460px;
height: auto;
opacity: .75;
margin:0px;
top:0;
left:0;
}
h1.fashion-term-header-300 {
-webkit-transition: all 0.24s ease-out;
-moz-transition: all 0.24s ease-out;
-o-transition: all 0.24s ease-out;
transition: all 0.24s ease-out;
filter: alpha(opacity=85);
background: black;
width: 200px;
height: 50px;
opacity: .75;
margin:0px;
top:56px;
left:0;
position:relative;
font-size:12px;
}



h1.fashion-term-header-bottom-right {
-webkit-transition: all 0.24s ease-out;
-moz-transition: all 0.24s ease-out;
-o-transition: all 0.24s ease-out;
transition: all 0.24s ease-out;
filter: alpha(opacity=85);
background: black;
position: absolute;
width: 300px;
height: auto;
opacity: .75;
top:-21px;:
}

h1.fashion-term-header-bottom {
-webkit-transition: all 0.24s ease-out;
-moz-transition: all 0.24s ease-out;
-o-transition: all 0.24s ease-out;
transition: all 0.24s ease-out;
filter: alpha(opacity=85);
background: black;
width: 620px;
height: auto;
opacity: .75;
top:-13px;
margin-top:12px;
}

h1.fashion-term-header:hover, h1.fashion-term-header-bottom:hover, h1.fashion-term-header-300:hover, h1.fashion-term-header-bottom-right:hover   {filter:alpha(opacity=95);background:#C98702;}

.fashion-term-header a,
.fashion-term-header-300 a,
.fashion-term-header-bottom a,
.fashion-term-header-bottom-right a{
display:block;
padding:12px;
color: white;
font-size:12px;
/*color:white;*/
}
.fashion-term-header a:hover, 
.fashion-term-header-300 a:hover, 
.fashion-term-header-bottom a:hover, 
.fashion-term-header-bottom-right a:hover{
color:white;
}

