
/* ---------- Overall Specifications ---------- */

body {
  line-height: 1.5;
  font-size: 87.5%;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
}
h1 {
  font-size: 1.4em;
  color: #000;
}
h2 {
  font-size: 1.143em;
}
p {
  margin: 0 0 1.2em;
}
del {
  text-decoration: line-through;
}
tr.odd {
  background-color: #dddddd;
}
img {
  outline: 0;
}
code,
pre,
kbd,
samp,
var {
  padding: 0 0.4em;
  font-size: 0.77em;
  font-family: Menlo, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New";
}
code {
  background-color: #f2f2f2;
  background-color: rgba(40, 40, 0, 0.06);
}
pre code,
pre kbd,
pre samp,
pre var,
kbd kbd,
kbd samp,
code var {
  font-size: 100%;
  background-color: transparent;
}
pre code,
pre samp,
pre var {
  padding: 0;
}
.description code {
  font-size: 1em;
}
kbd {
  background-color: #f2f2f2;
  border: 1px outset #575757;
  margin: 0 3px;
  color: #666;
  display: inline-block;
  padding: 0 6px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
pre {
  background-color: #f2f2f2;
  background-color: rgba(40, 40, 0, 0.06);
  margin: 10px 0;
  overflow: hidden;
  padding: 15px;
  white-space: pre-wrap;
}

#page #header {

background: black;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #383838), color-stop(100%, black));

}

#header .menu {
background: transparent;
float: left;
height: 40px;
margin: 0 auto;
padding: 0;
position: relative;
text-align: center;
width: 100%;
}
#header .menu li {
background: #111;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4D4D4D), color-stop(100%, black));
float: left;
height: 40px;
line-height: 40px;
list-style: none;
margin: 0 1px 0 0;
padding: 0;
width: 33.2%;
}

/* ------------------ Fonts ------------------ */

body,
#site-slogan,
.ui-widget,
.comment-form label {
  font-family:'Proxima Nova Regular', 'Helvetica Neue', Arial, sans-serif;
}
#header,
#footer-wrapper,
#skip-link,
ul.contextual-links,
ul.links,
ul.primary,
.item-list .pager,
div.field-type-taxonomy-term-reference,
div.messages,
div.meta,
p.comment-time,
table,
.breadcrumb {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#header {}
input,
textarea,
select,
a.button {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}

/* ------------------ Reset Styles ------------------ */

caption {
  text-align: left; /* LTR */
  font-weight: normal;
}
blockquote {
  background: #f7f7f7;
  border-left: 1px solid #bbb;
  font-style: italic;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote:before {
  color: #bbb;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -.4em;
}
blockquote:after {
  color: #bbb;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -.45em;
}
blockquote > p:first-child {
  display: inline;
}
a.feed-icon {
  display: inline-block;
  padding: 15px 0 0 0;
}

/* ------------------ Table Styles ------------------ */

table {
  border: 0;
  border-spacing: 0;
  font-size: 0.857em;
  margin: 10px 0;
  width: 100%;
}
table table {
  font-size: 1em;
}
#footer-wrapper table {
  font-size: 1em;
}
table tr th {
  background: #757575;
  background: rgba(0, 0, 0, 0.51);
  border-bottom-style: none;
}
table tr th,
table tr th a,
table tr th a:hover {
  color: #FFF;
  font-weight: bold;
}
table tbody tr th {
  vertical-align: top;
}
tr td,
tr th {
 /* padding: 4px 2px 30px; */
 /* border: 1px solid #fff;*/
  text-align: left; /* LTR */
  width:10%;
  position:relative;
 /* height:300px;*/
  padding-bottom: 50px;
}
#footer-wrapper tr td,
#footer-wrapper tr th {
  border-color: #555;
  border-color: rgba(255, 255, 255, 0.18);
}
tr.odd {
  background: #e4e4e4;
  background: rgba(0, 0, 0, 0.105);
}
tr,
tr.even {
/*  background: #efefef;
  background: rgba(0, 0, 0, 0.063);*/
}
table ul.links {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
table ul.links li {
  padding: 0 1em 0 0;
}

/* ------------------ List Styles ------------------ */

.block ol,
.block ul {
  margin: 0;
}
.contextual-links-wrapper {
  font-size: small !important;
}
ul.contextual-links {
  font-size: 0.923em;
}
.contextual-links-wrapper a {
  text-shadow: 0 0 0 !important;
}
.item-list .pager {
  font-size: 0.929em;
}
ul.menu li {
  margin: 0;
}
.region-content ul,
.region-content ol {
  margin: 1em 0;
  padding: 0 0 0.25em 2.5em; /* LTR */
}
.item-list ul li {
  margin: 0;
  padding: 0.2em 0.5em 0 0; /* LTR */
}
ul.tips {
  padding: 0 0 0 1.25em; /* LTR */
}

/* ------------------ Header ------------------ */
.subhead-nav {
/*padding-bottom:8px;*/
border-bottom: 1px solid #EBEBE8;
/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#F2F2EE));
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);*/
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}
#skip-link {
  left: 50%;
  margin-left: -5.25em;
  margin-top: 0;
  position: absolute;
  width: auto;
  z-index: 50;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  font-size: 0.94em;
  line-height: 1.7;
  padding: 1px 10px 2px 10px;
  text-decoration: none;
  -khtml-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 10px;
}
#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  outline: 0;
}
#logo {
  float: left; /* LTR */
/*  margin-top: 6px;
  margin-right:8px;*/
  /*padding: 15px 15px 15px 10px;*/ /* LTR */
}
#name-and-slogan {
  float: left; /* LTR */
  padding-top: 34px;
  margin: 0 0 30px 15px; /* LTR */
}
#site-name {
  font-size: 1.821em;
  color: #686868;
  line-height: 1;
}
h1#site-name {
  margin: 0;
}
#site-name a {
  font-weight: normal;
}
#site-slogan {
font-size: 0.959em;
word-spacing: 0.1em;
font-style: italic;
text-align: center;
color: #D99B2E;
background-color: white;
box-shadow: inset 0px 1px 1px white;
-webkit-box-shadow: inset 0px 1px 1px white;
-moz-box-shadow: inset 0px 1px 1px #ffffff;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
border: 1px solid #DBDBD9;
width: 500px;
height: 40px;
vertical-align: middle;
line-height: 40px;
float: left;
}
/* Region header blocks. */
.region-header .block {
  font-size: 0.857em;
  float: left; /* LTR */
/*  margin: 0 10px;*/
  padding: 0;
}
.region-header .block .content {
  margin: 0;
  padding: 0;
}
.region-header .block ul {
  margin: 0;
  padding: 0;
}
.region-header .block li {
  list-style: none;
  list-style-image: none;
  padding: 0;
}
.region-header .form-text {
  background: #fefefe;
  background: rgba(255, 255, 255, 0.7);
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.3);
  margin-right: 2px; /* LTR */
  width: 120px;
}
.region-header .form-text:hover,
.region-header .form-text:focus,
.region-header .form-text:active {
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
}
.region-header .form-required {
  color: #eee;
  color: rgba(255, 255, 255, 0.7);
}
/* Region header block menus. */
.region-header .block-menu {
  border: 1px solid;
  border-color: #eee;
  border-color: rgba(255, 255, 255, 0.2);
  padding: 0;
  width: 100%;
}
.block-menu .active-trail
 {
 /* text-decoration: none;
  background: rgba(255, 255, 255, 0.15);*/
  background-repeat: no-repeat;
background-position: center 29px;
background-image: url('../images/selected.png');

}

.region-header .block-menu li a {
  display: block;
  border-bottom: 1px solid;
  border-bottom-color: #eee;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  padding: 3px 7px;
}
.region-header .block-menu li a:hover,
.region-header .block-menu li a:focus,
.region-header .block-menu li a:active 
 {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.15);
}

.region-header .block-menu li.last a {
  border-bottom: 0;
}
/* User Login block in the header region */
.region-header #block-user-login {
  width: auto;
}
.region-header #block-user-login .content {
  margin-top: 2px;
}
.region-header #block-user-login .form-item {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}
.region-header #block-user-login div.item-list,
.region-header #block-user-login div.description {
  font-size: 0.916em;
  margin: 0;
}
.region-header #block-user-login div.item-list {
  clear: both;
}
.region-header #block-user-login div.description {
  display: inline;
}
.region-header #block-user-login .item-list ul {
  padding: 0;
  line-height: 1;
}
.region-header #block-user-login .item-list li {
  list-style: none;
  float: left; /* LTR */
  padding: 3px 0 1px;
}
.region-header #block-user-login .item-list li.last {
  padding-left: 0.5em; /* LTR */
}
.region-header #block-user-login ul.openid-links li.last {
  padding-left: 0; /* LTR */
}
.region-header #user-login-form li.openid-link a,
.region-header #user-login li.openid-link a {
  padding-left: 20px; /* LTR */
}
.region-header #block-user-login .form-actions {
  margin: 4px 0 0;
  padding: 0;
  clear: both;
}
.region-header #block-user-login input.form-submit {
  border: 1px solid;
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.5);
  background: #eee;
  background: rgba(255, 255, 255, 0.7);
  margin: 4px 0;
  padding: 3px 8px;
}
.region-header #block-user-login input.form-submit:hover,
.region-header #block-user-login input.form-submit:focus {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
}
/* Search block in region header. */
.region-header #block-search-form {
  width: 208px;
}
.region-header #block-search-form .form-text {
  width: 154px;
}
/* Language switcher block in region header. */
.region-header .block-locale ul li {
  display: inline;
  padding: 0 0.5em;
}

/* --------------- Main Menu ------------ */

#main-menu {
  clear: both;
}
#main-menu-links {
  font-size: 0.929em;
  margin: 0;
  padding: 0 15px;
}
#main-menu-links li {
  float: left; /* LTR */
  list-style: none;
  padding: 0 1px;
  margin: 0 1px;
}
#main-menu-links a {
  color: #333;
  background: #ccc;
  background: rgba(255, 255, 255, 0.7);
  float: left; /* LTR */
  height: 2.4em;
  line-height: 2.4em;
  padding: 0 0.8em;
  text-decoration: none;
  text-shadow: 0 1px #eee;
  -khtml-border-radius-topleft: 8px;
  -khtml-border-radius-topright: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#main-menu-links a:hover,
#main-menu-links a:focus, 
li.active-trail {
}
#main-menu-links a:active {
  background: #b3b3b3;
  background: rgba(255, 255, 255, 1);
}
#main-menu-links li a.active {
  border-bottom: none;
}
.featured #main-menu-links li a:active,
.featured #main-menu-links li a.active {
  background: #f0f0f0;
  background: rgba(240, 240, 240, 1.0);
}

/* --------------- Secondary Menu ------------ */

#secondary-menu-links {
  float: right; /* LTR */
  font-size: 0.929em;
  margin: 10px 10px 0;
}
#secondary-menu-links a:hover,
#secondary-menu-links a:focus {
  text-decoration: underline;
}

/* ------------------- Main ------------------- */

#main {
  margin-top: 20px;
/*  margin-bottom: 40px;*/
}

/* ----------------- Featured ----------------- */

#featured {
  text-align: center;
  font-size: 1.643em;
  font-weight: normal;
  line-height: 1.4;
  padding: 1px 0 45px;
  margin: 0;
  background: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
  border-bottom: 1px solid #e7e7e7;
}
#featured h2 {
  font-size: 1.174em;
  line-height: 1;
}
#featured p {
  margin: 0;
  padding: 0;
}

/* --------------- Highlighted ---------------- */

#highlighted {
  border-bottom: 1px solid #d3d7d9;
  font-size: 120%;
}

/* ------------------- Help ------------------- */

.region-help {
  border: 1px solid #d3d7d9;
  padding: 0 1.5em;
  margin-bottom: 30px;
}

/* ----------------- Content ------------------ */

.content {
}
h1#page-title {
  font-size: 2em;
  line-height: 1;
font-family: 'Freight Big Pro Black',Georgia,serif;
letter-spacing: .1ex;
color: #383838;
font-size: 36px;
line-height: 1.3;
margin: 20px 0px 20px 0px;
}
#content h2 {
  margin-bottom: 2px;
  font-size: 1.429em;
  line-height: 1.4;
}
.node .content {
  font-size: 1.071em;
}
.node-teaser .content {
  font-size: 1em;
}
.node-teaser h2 {
  margin-top: 0;
  padding-top: 0.5em;
}
.node-teaser h2 a {
  color: #181818;
}
.node-teaser {
  border-bottom: 1px solid #d3d7d9;
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.node-sticky {
  background: #f9f9f9;
  background: rgba(0, 0, 0, 0.024);
  border: 1px solid #d3d7d9;
  padding: 0 15px 15px;
}
.node-full {
  background: none;
  border: none;
  padding: 0;
}
.node-teaser .content {
  clear: none;
  line-height: 1.6;
}
.meta {
  font-size: 0.857em;
  color: #68696b;
  margin-bottom: -5px;
}
.submitted .user-picture img {
  float: left; /* LTR */
  height: 20px;
  margin: 1px 5px 0 0; /* LTR */
}
.field-type-taxonomy-term-reference {
  margin: 0 0 1.2em;
}
.field-type-taxonomy-term-reference .field-label {
  font-weight: normal;
  margin: 0;
  padding-right: 5px; /* LTR */
}
.field-type-taxonomy-term-reference .field-label,
.field-type-taxonomy-term-reference ul.links {
  font-size: 0.8em;
}
.node-teaser .field-type-taxonomy-term-reference .field-label,
.node-teaser .field-type-taxonomy-term-reference ul.links {
  font-size: 0.821em;
}
.field-type-taxonomy-term-reference ul.links {
  padding: 0;
  margin: 0;
  list-style: none;
}
.field-type-taxonomy-term-reference ul.links li {
  float: left; /* LTR */
  padding: 0 1em 0 0; /* LTR */
  white-space: nowrap;
}
.link-wrapper {
  text-align: right;
}
.field-type-image img,
.user-picture img {
  margin: 0 0 1em;
}
ul.links {
  color: #68696b;
  font-size: 0.821em;
}
.node-unpublished {
  margin: -20px -15px 0;
  padding: 20px 15px 0;
}
.node-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

/* ----------------- Comments ----------------- */

.comment h2.title {
  margin-bottom: 1em;
}
.comment div.user-picture img {
  margin-left: 0; /* LTR */
}
.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top;
}
.comment .attribution {
  display: table-cell;
  padding: 0 30px 0 0; /* LTR */
  vertical-align: top;
  overflow: hidden;
}
.comment .attribution img {
  margin: 0;
  border: 1px solid #d3d7d9;
}
.comment .attribution .username {
  white-space: nowrap;
}
.comment .submitted p {
  margin: 4px 0;
  font-size: 1.071em;
  line-height: 1.2;
}
.comment .submitted .comment-time {
  font-size: 0.786em;
  color: #68696b;
}
.comment .submitted .comment-permalink {
  font-size: 0.786em;
  text-transform: lowercase;
}
.comment .content {
  font-size: 0.929em;
  line-height: 1.6;
}
.comment .comment-arrow {
  background: url(../images/comment-arrow.gif) no-repeat 0 center transparent; /* LTR */
  border-left: 1px solid;
  border-right: 1px solid;
  height: 40px;
  margin-left: -47px; /* LTR */
  margin-top: 10px;
  position: absolute;
  width: 20px;
}
.comment .comment-text {
  padding: 10px 25px;
  border: 1px solid #d3d7d9;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
}
.comment .indented {
  margin-left: 40px; /* LTR */
}
.comment ul.links {
  padding: 0 0 0.25em 0;
}
.comment ul.links li {
  padding: 0 0.5em 0 0; /* LTR */
}
.comment-unpublished {
  margin-right: 5px; /* LTR */
  padding: 5px 2px 5px 5px; /* LTR */
}
.comment-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

/* ------------------ Sidebar ----------------- */
.sidebar .section {
  padding-top: 10px;
}
.sidebar .block {
  border: 1px solid;
  padding: 15px 20px;
  margin: 0 0 20px;
}
.sidebar h2 {
  margin: 0 0 0.5em;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 5px;
  text-shadow: 0 1px 0 #fff;
  font-size: 1.071em;
  line-height: 1.2;
}
.sidebar .block .content {
  font-size: 0.914em;
  line-height: 1.4;
}
.sidebar tbody {
  border: none;
}
.sidebar tr.even,
.sidebar tr.odd {
  background: none;
  border-bottom: 1px solid #d6d6d6;
}

/* ----------------- Triptych ----------------- */

#triptych-wrapper {
}
#triptych h2 {
  color: #000;
  font-size: 1.714em;
  margin-bottom: 0.8em;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
  line-height: 1;
}
#triptych .block {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #dfdfdf;
  line-height: 1.3;
}
#triptych .block.last {
  border-bottom: none;
}
#triptych .block ul li,
#triptych .block ol li {
  list-style: none;
}
#triptych .block ul,
#triptych .block ol {
  padding-left: 0;
}
#triptych #block-user-login .form-text {
  width: 185px;
}
#triptych #block-user-online p {
  margin-bottom: 0;
}
#triptych #block-node-syndicate h2 {
  overflow: hidden;
  width: 0;
  height: 0;
}
#triptych-last #block-node-syndicate {
  text-align: right;
}
#triptych #block-search-form .form-type-textfield input {
  width: 185px;
}
#triptych-middle #block-system-powered-by {
  text-align: center;
}
#triptych-last #block-system-powered-by {
  text-align: right;
}

/* ------------------ Footer ------------------ */

#footer-wrapper {
  color: #c0c0c0;
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.857em;
}
#footer-wrapper a {
  color: #fcfcfc;
  color: rgba(255, 255, 255, 0.8);
}
#footer-wrapper a:hover,
#footer-wrapper a:focus {
  color: #fefefe;
  color: rgba(255, 255, 255, 0.95);
  text-decoration: underline;
}
#footer-wrapper .block {
  margin: 20px 0;
  border: 1px solid #444;
  border-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
}
#footer-columns .block-menu,
#footer .block {
  margin: 0;
  padding: 0;
  border: none;
}
#footer .block {
  margin: 0.5em 0;
}
#footer .block .content {
  padding: 0.5em 0;
  margin-top: 0;
}
#footer .block h2 {
  margin: 0;
}
#footer-columns h2 {
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  font-size: 1em;
  margin-bottom: 0;
  padding-bottom: 3px;
  text-transform: uppercase;
}
#footer-columns .content {
  margin-top: 0;
}
#footer-columns p {
  margin-top: 1em;
}
#footer-columns .content ul {
  list-style: none;
  padding-left: 0; /* LTR */
  margin-left: 0;
}
#footer-columns .content li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer-columns .content li a {
  display: block;
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  line-height: 1.2;
  padding: 0.8em 2px 0.8em 20px; /* LTR */
  text-indent: -15px;
}
#footer-columns .content li a:hover,
#footer-columns .content li a:focus {
  background-color: #1f1f21;
  background-color: rgba(255, 255, 255, 0.05);
  text-decoration: none;
}
#footer {
  letter-spacing: 0.2px;
  margin-top: 30px;
  border-top: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
}
#footer .region {
  margin-top: 20px;
}
#footer .block {
  clear: both;
}
#footer ul,
#footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer li a {
  float: left; /* LTR */
  padding: 0 12px;
  display: block;
  border-right: 1px solid #555; /* LTR */
  border-color: rgba(255, 255, 255, 0.15);
}
#footer li.first a {
  padding-left: 0; /* LTR */
}
#footer li.last a {
  padding-right: 0; /* LTR */
  border-right: none; /* LTR */
}
#footer-wrapper tr.odd {
  background-color: transparent;
}
#footer-wrapper tr.even {
  background-color: #2c2c2c;
  background-color: rgba(0, 0, 0, 0.15);
}

/* --------------- System Tabs  --------------- */

.tabs {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}
.tabs ul.primary {
  padding: 0 3px;
  margin: 0;
  overflow: hidden;
  border: none;
  background: transparent url(../images/tabs-border.png) repeat-x left bottom;
}
.tabs ul.primary li {
  display: block;
  float: left; /* LTR */
  vertical-align: bottom;
  margin: 0 5px 0 0; /* LTR */
}
.tabs ul.primary li.active a {
  border-bottom: 1px solid #ffffff;
}
.tabs ul.primary li a {
  color: #000;
  background-color: #ededed;
  height: 1.8em;
  line-height: 1.9;
  display: block;
  font-size: 0.929em;
  float: left; /* not LTR */
  padding: 0 10px 3px;
  margin: 0;
  text-shadow: 0 1px 0 #fff;
  -khtml-border-radius-topleft: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -khtml-border-radius-topright: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
}
.tabs ul.secondary {
  border-bottom: none;
  padding: 0.5em 0;
}
.tabs ul.secondary li {
  display: block;
  float: left; /* LTR */
}
.tabs ul.secondary li:last-child {
  border-right: none; /* LTR */
}
.tabs ul.secondary li:first-child {
  padding-left: 0; /* LTR */
}
.tabs ul.secondary li a {
  padding: 0.25em 0.5em;
}
.tabs ul.secondary li a.active {
  background: #f2f2f2;
  border-bottom: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
ul.action-links {
  list-style: none;
  margin: 5px;
  padding: 0.5em 1em;
}
ul.action-links li {
  display: inline-block;
  margin-left: 10px;
}
ul.action-links li a {
  padding-left: 15px;
  background: url(../images/add.png) no-repeat left center;
  margin: 0 10px 0 0;
}

/* ---------------- Messages  ----------------- */

#messages {
  padding: 20px 0 5px;
  margin: 0 auto;
}
.featured #messages {
  background: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
}
div.messages {
  margin: 8px 15px;
}

/* -------------- Breadcrumbs   -------------- */

.breadcrumb a {
  font-size: 0.929em;
  color:black;
}
/* -------------- User Profile   -------------- */

.profile .user-picture {
  float: none;
}

/* -------------- Password Meter  ------------- */

.confirm-parent,
.password-parent {
  width: 34em;
}
.password-parent,
div.form-item div.password-suggestions {
  position: relative;
}
.password-strength-text,
.password-strength-title,
div.password-confirm {
  font-size: 0.82em;
}
.password-strength-text {
  margin-top: 0.2em;
}
div.password-confirm {
  margin-top: 2.2em;
  width: 20.73em;
}

/* ---------------- Buttons    ---------------- */
a.button:link,
a.button:visited,
a.button:hover,
a.button:focus,
a.button:active {
  text-decoration: none;
  color: #5a5a5a;
}

a.button,
a.button:link, a.button:visited, a.button:hover, a.button:focus, a.button:active,
span.button,
span.button:link, span.button:visited, span.button:hover, span.button:focus, span.button:active   {
color: white;
border-left: none;
border-right: none;
border-top: 1px solid #F2CF92;
border-bottom: 1px solid #AB7115;
background-color: #C98702;
background-image: -webkit-gradient(linear, left top, left bottom, from(#E8AF3C), to(#C98702));
background-image: -webkit-linear-gradient(top, #E8AF3C, #C98702);
background-image: -moz-linear-gradient(top, #E8AF3C, #C98702);
background-image: -ms-linear-gradient(top, #E8AF3C, #C98702);
background-image: -o-linear-gradient(top, #E8AF3C, #C98702);
background-image: linear-gradient(top, #E8AF3C, #C98702);
 /* background: #fff url(../images/buttons.png) 0 0 repeat-x;*/
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: white;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 0.6em; /* LTR */
  padding: 12px 37px;
  -khtml-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
   text-decoration: none;
  line-height:46px;
  font-family: 'Proxima Nova Semibold', 'Helvetica Neue', Arial, sans-serif;
font-size: 15px;
font-weight: normal;

}

/* -------------- Form Elements   ------------- */

fieldset {
  background: #ffffff;
  border: 1px solid #cccccc;
  margin-top: 10px;
  margin-bottom: 32px;
  padding: 0 0 10px;
  position: relative;
  top: 12px; /* Offsets the negative margin of legends */
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.fieldset-wrapper {
  margin-top: 25px;
}
.node-form .vertical-tabs .fieldset-wrapper {
  margin-top: 0;
}
.filter-wrapper {
  top: 0;
  padding: 1em 0 0.2em;
  -khtml-border-radius-topright: 0;
  -khtml-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.filter-help a {
  font-size: 0.857em;
  padding: 2px 20px 0;
}
.filter-wrapper .form-item label {
  margin-right: 10px;
}
.filter-wrapper .form-item {
  padding: 0 0 0.5em 0.5em;
}
.filter-guidelines {
  padding: 0 1.5em 0 0.5em;
}
fieldset.collapsed {
  background: transparent;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
fieldset legend {
  background: #dbdbdb;
  border: 1px solid #ccc;
  border-bottom: none;
  color: #3b3b3b;
  display: block;
  height: 2em;
  left: -1px; /* LTR */
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 10px;
  text-shadow: 0 1px 0 #fff;
  top: -12px;
  width: 100%;
  -khtml-border-radius-topleft: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -khtml-border-radius-topright: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
fieldset.collapsed legend {
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
fieldset legend a {
  color: #3b3b3b;
}
fieldset legend a:hover,
fieldset legend a:focus,
fieldset legend a:active {
  color: #000;
}
fieldset .fieldset-wrapper {
  padding: 0 10px;
}
fieldset .fieldset-description {
  margin-top: 5px;
  margin-bottom: 1em;
  line-height: 1.4;
  color: #3c3c3c;
  font-style: italic;
}
input {
  margin: 2px 0;
  padding: 4px;
}
input,
textarea {
  font-size: 0.929em;
}
textarea {
  line-height: 1.5;
}
textarea.form-textarea,
select.form-select {
  padding: 4px;
}
input.form-text,
textarea.form-textarea,
select.form-select {
  border: 1px solid #ccc;
}
/*input.form-submit:hover,
input.form-submit:focus {
  background: #dedede;
}*/
.password-suggestions ul li {
  margin-left: 1.2em; /* LTR */
}
.form-item {
  margin-bottom: 1em;
  margin-top: 2px;
}
.form-item label {
  font-size: 0.929em;
}
.form-type-radio label,
.form-type-checkbox label {
  margin-left: 4px;
}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2px;
}
.form-actions {
 }
.attributes {
  margin-bottom:70px;
}
/* Contact Form */
.contact-form #edit-name {
  width: 75%;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.contact-form #edit-mail {
  width: 75%;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.contact-form #edit-subject {
  width: 75%;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.contact-form #edit-message {
  width: 76.3%;
  -khtml-border-top-left-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.contact-form .resizable-textarea .grippie {
  width: 76%;
  -khtml-border-bottom-left-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Disabled form elements */
input.form-button-disabled,
input.form-button-disabled:hover,
input.form-button-disabled:focus,
input.form-button-disabled:active,
.form-disabled input,
.form-disabled select,
.form-disabled textarea {
  background: #ededed;
  border-color: #bbb;
  color: #717171;
}
.form-disabled .grippie {
  background-color: #ededed;
  border-color: #bbb;
}
.form-disabled label {
  color: #717171;
}

/* Animated throbber */
html.js input.form-autocomplete {
  background-position: 100% 4px; /* LTR */
}
html.js input.throbbing {
  background-position: 100% -16px; /* LTR */
}

/* Comment form */
.comment-form label {
  float: left; /* LTR */
  font-size: 0.929em;
  width: 120px;
}
.comment-form input,
.comment-form .form-select {
  margin: 0;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.comment-form .form-type-textarea label {
  float: none;
}
.comment-form .form-item,
.comment-form .form-radios,
.comment-form .form-type-checkbox,
.comment-form .form-select {
  margin-bottom: 10px;
  overflow: hidden;
}
.comment-form .form-type-checkbox,
.comment-form .form-radios {
  margin-left: 120px; /* LTR */
}
.comment-form .form-type-checkbox label,
.comment-form .form-radios label {
  float: none;
  margin-top: 0;
}
.comment-form input.form-file {
  width: auto;
}
.no-sidebars .comment-form .form-text {
  width: 800px;
}
.one-sidebar .comment-form .form-text {
  width: 500px;
}
.two-sidebars .comment-form .form-text {
  width: 320px;
}
.comment-form .form-item .description {
  font-size: 0.786em;
  line-height: 1.2;
  margin-left: 120px; /* LTR */
}
#content h2.comment-form {
  margin-bottom: 0.5em;
}
.comment-form .form-textarea {
  -khtml-border-radius-topleft: 4px;
  -khtml-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.comment-form fieldset.filter-wrapper .fieldset-wrapper,
.comment-form .text-format-wrapper .form-item {
  margin-top: 0;
  margin-bottom: 0;
}
.filter-wrapper label {
  width: auto;
  float: none;
}
.filter-wrapper .form-select {
  min-width: 120px;
}
.comment-form fieldset.filter-wrapper .tips {
  font-size: 0.786em;
}
#comment-body-add-more-wrapper .form-type-textarea label {
  margin-bottom: 0.4em;
}
#edit-actions input {
  margin-right: 0.6em; /* LTR */
}

/* -------------- Other Overrides ------------- */

div.password-suggestions {
  border: 0;
}
.ui-widget-overlay {
  background: #222222;
  opacity: 0.7;
}
div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
  padding: 1em;
}
#forum .name {
  font-size: 1.083em;
}
#forum .description {
  font-size: 1em;
}

/* --------------- Search Form ---------------- */

#block-search-form {
}
#block-search-form .content {
  margin-top: 0;
}
#search-form input#edit-keys,
#block-search-form .form-item-search-block-form input {
  float: left; /* LTR */
  font-size: 1em;
  height: 1.143em;
  margin-right: 5px;
  width: 9em;
}
#search-block-form input.form-submit,
#search-form input.form-submit {
/*  margin-left: 0;
  margin-right: 0;
  height: 25px;
  width: 34px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4;
  background: url(../images/search-button.png) no-repeat center top;
  overflow: hidden;*/
background: #F6F6F5 url(http://assets2.giltcdn.com/assets/201208172000-7f82c88642/images/gilt2/default/primary-nav-search.png) no-repeat 10px -203px;
float: right;
height: 46px;
width: 50px;
overflow: hidden;
padding: 0;
cursor: pointer;
text-indent: -9999px;
border-top: none;
border-right: none;
border-bottom: none;
-webkit-border-radius:  0px 50px 50px 0;
-moz-border-radius:  0px 50px 50px 0;
border-radius:  0px 50px 50px 0;

}
#search-block-form input.form-text
{
width: 75%;
margin: 0 10px;
font-size: 22px;
border: none;
padding: 0;
outline: none;
background: transparent;
display: block;
float: left;
height: 50px;
line-height: 1.4;
-webkit-transition: opacity 0.75s ease-in-out;
-moz-transition: opacity 0.75s ease-in-out;
-ms-transition: opacity 0.75s ease-in-out;
-o-transition: opacity 0.75s ease-in-out;
transition: opacity 0.75s ease-in-out;
-webkit-appearance: textfield;
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
box-sizing: content-box;
}
#search-block-form input.form-submit:hover,
#search-block-form input.form-submit:focus,
#search-form input.form-submit:hover,
#search-form input.form-submit:focus {
 /* background-position: center bottom;*/
}
#search-form .form-item-keys label {
  display: block;
}

/* --------------- Search Results ---------------- */
ol.search-results {
  padding-left: 0;
}
.search-results li {
  border-bottom: 1px solid #d3d7d9;
  padding-bottom: 0.4285em;
  margin-bottom: 0.5em;
}
.search-results li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 1em;
}
.search-results .search-snippet-info {
  padding-left: 0;
}

/* -------------- Shortcut Links -------------- */

.shortcut-wrapper {
  margin: 2.2em 0 1.1em 0; /* Same as usual h1#page-title margin. */
}
.shortcut-wrapper h1#page-title {
  float: left; /* LTR */
  margin: 0;
}
div.add-or-remove-shortcuts {
  padding-top: 0.9em;
}
.overlay div.add-or-remove-shortcuts {
  padding-top: 0.8em;
}

/* ---------- Admin-specific Theming ---------- */

.page-admin #content img {
  margin-right: 15px; /* LTR */
}
.page-admin #content .simpletest-image img {
  margin: 0;
}
.page-admin-structure-block-demo .block-region {
  background: #ffff66;
  border: 1px dotted #9f9e00;
  color: #000;
  font: 90% "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  margin: 5px;
  padding: 5px;
  text-align: center;
  text-shadow: none;
}
.page-admin-structure-block-demo #featured .block-region {
  font-size: 0.55em;
}
.page-admin-structure-block-demo #header .block-region {
  width: 500px;
}
.page-admin #admin-dblog img {
  margin: 0 5px;
}
/* Fix spacing when Seven is used in the overlay. */
#system-theme-settings fieldset {
  padding: 0;
}
#system-theme-settings fieldset .fieldset-legend {
  margin-top: 0;
}
/* Configuration. */
div.admin .right,
div.admin .left {
  width: 49%;
  margin: 0;
}
div.admin-panel {
  background: #fbfbfb;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 0 5px 5px;
}
div.admin-panel h3 {
  margin: 16px 7px;
}
div.admin-panel dt {
  border-top: 1px solid #ccc;
  padding: 7px 0 0;
}
div.admin-panel dd {
  margin: 0 0 10px;
}
div.admin-panel .description {
  margin: 0 0 14px 7px;
}

/* ---------- Overlay layout styles ----------- */

.overlay #main,
.overlay #content {
  width: auto;
  float: none;
}
.overlay #page {
  padding: 0 2em;
}
.overlay .region-page-top,
.overlay #header,
.overlay #page-title,
.overlay #featured,
.overlay #sidebar-first,
.overlay #triptych-wrapper,
.overlay #footer-wrapper {
  display: none;
}
.overlay-processed .field-type-image {
  display: block;
  float: none;
}
.overlay #messages {
  width: auto;
}

/* ---------- Poll ----------- */

.node .poll {
  margin: 2em 0;
}
.node .poll #edit-choice {
  margin: 0 0 1.5em;
}
.poll .vote-form {
  text-align: left; /* LTR */
}
.poll .vote-form .choices {
  margin: 0;
}
.poll .percent {
  font-size: 0.857em;
  font-style: italic;
  margin-bottom: 3em;
  margin-top: -3.2em;
  float: right;
  text-align: right;
}
.poll .text {
  clear: right;
  margin-right: 2.25em;
}
.poll .total {
  font-size: 0.929em;
  font-style: italic;
  text-align: right; /* LTR */
  clear: both;
}
.node .poll {
  margin: 1.8em 0 0;
}
.node .poll .text {
  margin-right: 6.75em;
}
.node .poll #edit-choice {
  margin: 0 0 1.2em;
}
.poll .bar .foreground {
  background-color: #666;
}
#footer-wrapper .poll .bar {
  background-color: #666;
}
#footer-wrapper .poll .bar .foreground {
  background-color: #ddd;
}

/*  Arrow Styles */
.account-dropdown-arrow {
width: 0;
height: 0;
float: right;
margin: 5px 10px 0px 10px;
border-left: 3px solid transparent;
border-right: 3px solid transparent;
border-top: 3px solid #737373;
z-index: 5;
position: absolute;
right: 0;
}
.arrowed {
height: 0;
width: 0;
border-width: 4px;
border-style: solid;
border-color: transparent #E19922 transparent transparent;
position: absolute;
top: 7px;
left: 34px;
}

.cart-util-label {
margin-right:5px;
font-size:11px;
color:#3B3B3B;
}

.strong {
font-weight:bold;
}
/* Cart Bubble */
.cart-bubble {
background-color: #D99B2E;
background-image: -webkit-gradient(linear, left top, left bottom, from(#E7AD44), to(#C9861A));
background-image: -webkit-linear-gradient(top, #E7AD44, #C9861A);
background-image: -moz-linear-gradient(top, #E7AD44, #C9861A);
background-image: -ms-linear-gradient(top, #E7AD44, #C9861A);
background-image: -o-linear-gradient(top, #E7AD44, #C9861A);
background-image: linear-gradient(top, #E7AD44, #C9861A);
color: white;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
padding:7px;
font-size:12px;
padding-right: 12px;
padding-left: 12px;
}
.cart-bubble > a{
 color:white;
}
.cart-bubble > a:hover{
  text-decoration:none;
}

#block-uc-cart-cart .content {
margin-top: 5px;
margin-bottom: 5px;
position: relative;
}
#block-uc-cart-cart .content a:link,
#block-uc-cart-cart .content a:visited  {
text-decoration: none;
}


#block-uc-cart-cart {
clear: none;
line-height: 18px;
padding: 6px 10px;
margin-top: 0;
height: auto;
background-image: -webkit-gradient(linear, left top, left bottom, from(#FAFAF9), to(#F1F1EF));
background-image: -webkit-linear-gradient(top, #FAFAF9, #F1F1EF);
background-image: -moz-linear-gradient(top, #FAFAF9, #F1F1EF);
background-image: -ms-linear-gradient(top, #FAFAF9, #F1F1EF);
background-image: -o-linear-gradient(top, #FAFAF9, #F1F1EF);
background-image: linear-gradient(top, #FAFAF9, #F1F1EF);
box-shadow: inset 0px 1px 1px white;
-webkit-box-shadow: inset 0px 1px 1px white;
-moz-box-shadow: inset 0px 1px 1px #ffffff;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
border: 1px solid #DBDBD9;
font-size:12px;
padding-bottom:18px;
}
#block-search-form {
float:right;
width:40%;
}


/* Font Style */
.product-detail .sale-price .nouveau-price {
font-size: 40px;
}
.accent {
font-family: Georgia;
font-style: italic;
font-weight: normal;
}

form#search-block-form div.container-inline {
margin: 7px 0 5px;
border: 1px solid #DBDBD6;
font-size: 22px;
height: 45px;
width: auto;
overflow: hidden;
line-height: 42px;
background: #F7F7F7;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
-webkit-transition: width 0.35s ease-in-out;
-moz-transition: width 0.35s ease-in-out;
-ms-transition: width 0.35s ease-in-out;
-o-transition: width 0.35s ease-in-out;
transition: width 0.35s ease-in-out;
/*position: absolute;*/
right: 0;
top: 0;
}

#logo {
padding-top:10px;
padding-right:18px;

}
#block-nice-menus-1, 
#block-nice-menus-2{
float:left;
}
div.header-sub {
/*margin-left: 15px;
margin-right: 10px;*/
}
div.view-display-in-fashion-terms {
 width:930px;
 margin:auto;
}
div.views-field-name { 
position:relative;
}
h1.fashion-term-header {
-webkit-transition: all 0.24s ease-out;
-moz-transition: all 0.24s ease-out;
-o-transition: all 0.24s ease-out;
transition: all 0.24s ease-out;
filter: alpha(opacity=85);
background: black;
position: absolute;
width: 460px;
height: auto;
opacity: .75;
margin:0px;
top:0;
left:0;
}
h1.fashion-term-header-300 {
-webkit-transition: all 0.24s ease-out;
-moz-transition: all 0.24s ease-out;
-o-transition: all 0.24s ease-out;
transition: all 0.24s ease-out;
filter: alpha(opacity=85);
background: black;
position: absolute;
width: 300px;
height: auto;
opacity: .75;
margin:0px;
top:0;
left:0;
}



h1.fashion-term-header-bottom-right {
-webkit-transition: all 0.24s ease-out;
-moz-transition: all 0.24s ease-out;
-o-transition: all 0.24s ease-out;
transition: all 0.24s ease-out;
filter: alpha(opacity=85);
background: black;
position: absolute;
width: 300px;
height: auto;
opacity: .75;
top:-21px;:
}

h1.fashion-term-header-bottom {
-webkit-transition: all 0.24s ease-out;
-moz-transition: all 0.24s ease-out;
-o-transition: all 0.24s ease-out;
transition: all 0.24s ease-out;
filter: alpha(opacity=85);
background: black;
position: absolute;
width: 620px;
height: auto;
opacity: .75;
top:-13px;
margin-top:12px;
}

h1.fashion-term-header:hover, h1.fashion-term-header-bottom:hover, h1.fashion-term-header-300:hover, h1.fashion-term-header-bottom-right:hover   {filter:alpha(opacity=95);background:#C98702;}

.fashion-term-header a,
.fashion-term-header-300 a,
.fashion-term-header-bottom a,
.fashion-term-header-bottom-right a{
display:block;
padding:12px;
color: white;
font-size:19px;
/*color:white;*/
}
.fashion-term-header a:hover, 
.fashion-term-header-300 a:hover, 
.fashion-term-header-bottom a:hover, 
.fashion-term-header-bottom-right a:hover{
color:white;
}

.bottom-term-field { width:620px; }

.views-field-field-term-image{
/*background:white;*/
width:300px;
}

.fashion-term a,
.fashion-term-300 a,
.fashion-term-header-bottom  a{
color:white;
}

.featured-term-field {
/*width: 100%;*/
height: 320px;
}

.featured-term-field img {
width: 100%;
height: 525px;
}

.group-header {
font-family: 'Freight Big Pro Black', Georgia, serif;
font-size: 36px;
font-weight: normal;
}
.field-name-field-in-fashion{
font-size: 40px;
font-family: Georgia;
font-style: italic;
font-weight: normal;
color: #383838;
}
.product-info .uc-price {
font-size: 40px;
font-family: Georgia;
font-style: italic;
font-weight: normal;
color:#C98702;
}

.list-price .uc-price {
font-size: 16px;
font-family: Georgia;
font-style: normal;
font-weight: normal;
color:#9E9E9E;
text-decoration: line-through;
}

.list-price{
font-size: 16px;
font-family: Georgia;
font-style: normal;
font-weight: normal;
color:#9E9E9E;
text-decoration: line-through;
}


.uc-price {
font-size: 21px;
font-family: Georgia;
font-style: italic;
font-weight: lighter;
color:#C98702;
}

div.slideshow-row {
float:left;
font-size:7px;
width:120px;
}
div.slideshow-row a {
float:left;
}
.view-row-fields a {
color:black;
text-decoration:none;
}
.view-row-fields td {
height:300px;
}

.view-row-fields a {
color:black;
text-decoration:none;
}
.view-row-fields .views-field-field-shop-catalog a {
font-weight:lighter;
}
.view-row-fields .views-field-title a {
font-size:13px;
}
.view-row-fields div.views-field-image  {

background-color: whitesmoke;
height: 385px;
width: 300px;
line-height:385px;
}
.view-row-fields div.views-field-image img {
vertical-align:middle;
padding-left:auto;
padding-right:auto;
}
#login-form-modal{
display: none;
background: #F2F2F0;
margin: 0 auto;
text-align: left;
color: #737373;
font-size: 15px;
position: relative;
line-height: 1.4;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.login-registration-simple .pane h1, 
h1.category-heading {
font-family: 'Proxima Nova Regular',Arial,sans-serif;
font-size: 36px;
margin: 0px 0px 15px 0px;
text-align: center;
}
#login-form-modal {
 text-align:center;
 padding: 30px;
min-width: 350px;
}
#login-form-modal .field strong {
font-weight: normal;
color: #383838;
display: block;
padding-bottom: 5px;
}

.login-registration-simple input[type="text"], .login-registration-simple input[type="password"], .login-registration-simple input[type="url"] {
width: 80%;
border: 1px solid #C7C7C7;
height: 32px;
font-size: 15px;
direction: ltr;
background: white;
color: #383838;
padding: 0px 5px 0px 5px;
margin: 0 auto;
border-image: initial;
}

.button {
color: #383838;
font-family: 'Proxima Nova Semibold';
font-size: 15px;
font-weight: normal;
width: 190px;
height: 45px;
line-height: 1;
padding: 0;
cursor: pointer;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
border: 1px solid #CCC;
background-color: #F4F4F4;
background-image: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#EBE9E9));
background-image: -webkit-linear-gradient(top, #FAFAFA, #EBE9E9);
background-image: -moz-linear-gradient(top, #FAFAFA, #EBE9E9);
background-image: -ms-linear-gradient(top, #FAFAFA, #EBE9E9);
background-image: -o-linear-gradient(top, #FAFAFA, #EBE9E9);
background-image: linear-gradient(top, #FAFAFA, #EBE9E9);
}
.tint {
color: white;
border-top-color: #F5DE9F;
border-bottom-color: #BE9429;
background-image: -webkit-gradient(linear, left top, left bottom, from(#EBB13D), to(#E39802));
background-image: -webkit-linear-gradient(top, #EBB13D, #E39802);
background-image: -moz-linear-gradient(top, #EBB13D, #E39802);
background-image: -ms-linear-gradient(top, #EBB13D, #E39802);
background-image: -o-linear-gradient(top, #EBB13D, #E39802);
background-image: linear-gradient(top, #EBB13D, #E39802);
}
.error-message {
color: #E12626;
display: block;
}

.featured-slide-title {
   float:right; 
   width:230px;
   height:266px;
   position:relative;
}
.featured-slide-img {
  float:left;
  width:670px;
  height:286;
  position:relative;
  overflow:hidden;

}
div.fashion-row-left {
  overflow-x:hidden;
  overflow-y:hidden;
  width: 620px;	
  height:280px;
  margin-bottom:25px;
  margin-right:25px;
}

div.fashion-row-right {
  overflow-x:hidden;
  overflow-y:hidden;
  height: 280px;
  width:300px;	
  margin-bottom:25px;

  
}

.facebook-login p {
margin: 0px 0px 0px;
font-size: 14px;
color: black;
}

div.facebook-login > a:link, > a:visited {
text-decoration: none;
color: #D99B2E;
}


.ordered-status {
font-size: 39px;
font-family: Georgia;
font-style: italic;
font-weight: lighter;
color: #C98702;
text-align: center;
width: 100%;

}
.ordered-title-label {
font-size: 35px;
font-weight: bold;
}
.ordered-title {
font-size: 30px;
font-weight: normal;
} 

.ordered-products-list .views-row {
border-bottom: 1px;
border-bottom-style: solid;
min-height: 830px;
}

input.node-add-to-cart {
border: 1px solid #ccc;
-webkit-background-clip: border-box;
-moz-background-clip: border-box;
-ms-background-clip: border-box;
-o-background-clip: border-box;
background-clip: border-box;
-ms-border-radius: 6px;
-o-border-radius: 6px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
cursor: pointer;
color: #383838;
display: inline-block;
font-family: "Proxima Nova Semibold",sans-serif;
font-weight: normal;
font-size: 15px;
line-height: 1;
height: 45px;
text-align: center;
background-color: #f4f3f3;
background-image: -moz-linear-gradient(top, #fafafa, #ebe9e9);
background-image: -ms-linear-gradient(top, #fafafa, #ebe9e9);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#ebe9e9));
background-image: -webkit-linear-gradient(top, #fafafa, #ebe9e9);
background-image: -o-linear-gradient(top, #fafafa, #ebe9e9);
background-image: linear-gradient(top, #fafafa, #ebe9e9);
background-repeat: repeat-x;
width: 190px;
color: #fff;
background-color: #ce8a02;
background-image: -moz-linear-gradient(top, #e29802, #b07602);
background-image: -ms-linear-gradient(top, #e29802, #b07602);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e29802), to(#b07602));
background-image: -webkit-linear-gradient(top, #e29802, #b07602);
background-image: -o-linear-gradient(top, #e29802, #b07602);
background-image: linear-gradient(top, #e29802, #b07602);
background-repeat: repeat-x;
border-top-color: #fedc99;
border-bottom-color: #ba7d02;
margin: 10px;
}

.add-to-cart {

border-top: 1px solid #d8d8d7;
border-bottom: 1px solid #d8d8d7;

}
div.add-to-cart div.form-item label.option {
background-position-x: 100px;
height: 24px;
line-height: 2;
margin: 2px;
padding: 0 5px;
position: relative;
text-align: center;
text-overflow: ellipsis;
white-space: nowrap;
width: 63px;
background-image: none;
background-color: #f2f2f0;
border: 1px solid #999;
cursor: pointer;
float: left;

}
div.add-to-cart div.form-item label.option:hover {
background-color: #737373;
color: white;
}
div.add-to-cart div.form-item label.selected {
background-color: #383838;
color: white;
}

div.add-to-cart input.form-radio {
display:none;
}
div.block-uc-multicurrencies-store {
padding-right:20px;
}
div.block-uc-multicurrencies-store a {
font-weight:bold;
color: #737373;
}
div.block-uc-multicurrencies-store  ul,
div.block-uc-multicurrencies-store  ul ul {
  z-index: 5;
  position: relative;
  list-style:none;
}

div.block-uc-multicurrencies-store  ul li {
  position: relative;
  font-size: 12px;
}



div.block-uc-multicurrencies-store ul ul,
/* For Garland header. */
div.block-uc-multicurrencies-store #header-region ul ul {
  position: absolute;
  visibility: hidden;
}

div.block-uc-multicurrencies-store ul li.over ul {
  visibility: visible;
}

div.block-uc-multicurrencies-store ul ul li {
  display: block;
}

div.block-uc-multicurrencies-store ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
div.block-uc-multicurrencies-store ul li.menuparent {
background: url('../images/header_sprite_fp.v4.png') no-repeat -118px -54px;
}
/* Show submenus when over their parents. */
div.block-uc-multicurrencies-store ul li:hover ul,
div.block-uc-multicurrencies-store ul li.menuparent li:hover ul,
div.block-uc-multicurrencies-store ul li.menuparent li.menuparent li:hover ul,
div.block-uc-multicurrencies-store ul li.menuparent li.menuparent li.menuparent li:hover ul,
div.block-uc-multicurrencies-store ul li.over ul,
div.block-uc-multicurrencies-store ul li.menuparent li.over ul,
div.block-uc-multicurrencies-store ul li.menuparent li.menuparent li.over ul,
div.block-uc-multicurrencies-store ul li.menuparent li.menuparent li.menuparent li.over ul,
/* Repeat all this stuff just for Garland headers. */
#header-region ul li:hover ul,
#header-region ul li.menuparent li:hover ul,
#header-region ul li.menuparent li.menuparent li:hover ul,
#header-region ul li.over ul,
#header-region ul li.menuparent li.over ul,
#header-region ul li.menuparent li.menuparent li.over ul {
  visibility: visible;
}

/* Hide sub-menus initially. */
div.block-uc-multicurrencies-store ul li:hover ul ul,
div.block-uc-multicurrencies-store ul li:hover ul ul ul,
div.block-uc-multicurrencies-store ul li:hover li:hover ul ul,
div.block-uc-multicurrencies-store ul li:hover li:hover ul ul ul,
div.block-uc-multicurrencies-store ul li:hover li:hover li:hover ul ul,
div.block-uc-multicurrencies-store ul li:hover li:hover li:hover ul ul ul,
div.block-uc-multicurrencies-store ul li.over ul ul,
div.block-uc-multicurrencies-store ul li.over ul ul ul,
div.block-uc-multicurrencies-store ul li.over li.over ul ul,
div.block-uc-multicurrencies-store ul li.over li.over ul ul ul,
div.block-uc-multicurrencies-store ul li.over li.over li.over ul ul,
div.block-uc-multicurrencies-store ul li.over li.over li.over ul ul ul,
/* Repeat all this stuff just for Garland headers. */
div.block-uc-multicurrencies-store #header-region ul li:hover ul ul,
div.block-uc-multicurrencies-store #header-region ul li:hover ul ul ul,
div.block-uc-multicurrencies-store #header-region ul li:hover li:hover ul ul,
div.block-uc-multicurrencies-store #header-region ul li:hover li:hover ul ul ul,
div.block-uc-multicurrencies-store #header-region ul li:hover li:hover li:hover ul ul,
div.block-uc-multicurrencies-store #header-region ul li:hover li:hover li:hover ul ul ul,
div.block-uc-multicurrencies-store #header-region ul li.over ul ul,
div.block-uc-multicurrencies-store #header-region ul li.over ul ul ul,
div.block-uc-multicurrencies-store #header-region ul li.over li.over ul ul,
div.block-uc-multicurrencies-store #header-region ul li.over li.over ul ul ul,
div.block-uc-multicurrencies-store #header-region ul li.over li.over li.over ul ul,
div.block-uc-multicurrencies-store #header-region ul li.over li.over li.over ul ul ul {
  visibility: hidden;
}

/***************
 IE 6 Fixes
***************/

/* Iframe to fix z-index bug when menu hovers over <select> fields. */
div.block-uc-multicurrencies-store ul li ul,
/* For Garland header. */
div.block-uc-multicurrencies-store #header-region ul li ul {
	overflow: visible !important;
	/* overflow: hidden; */
}

ul li ul iframe,
/* For Garland header. */
div.block-uc-multicurrencies-store #header-region ul li ul iframe {
	display: none;
	display/**/: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	filter: mask();
	width: 20px;
	height: 20px;
}
