/**
 * @file
 * Styles for the uc_cart module cart block.
 */
.cart-block-icon-full,
.cart-block-icon-empty {
  float: left;
  height: 16px;
  margin: 2px 6px 0 0;
  width: 16px;
}

.cart-block-icon-full {
  background: transparent url(images/cart-full.png) no-repeat left center;
}

.cart-block-icon-empty {
  background: transparent url(images/cart-empty.png) no-repeat left center;
}

/**
 * Styles for the cart block title and toggle.
 */
.cart-block-title-bar {
  display: inline;
  padding-right: 20px;
  position: relative;
}

.ucCollapseBlock-processed {
  cursor: pointer;
}

.cart-block-arrow {
  background: transparent url(images/bullet-arrow-up.gif) no-repeat center center;
  height: 5px;
  position: absolute;
  right: 0;
  top: 9px;
  width: 10px;
}

.cart-block-title-bar .arrow-down {
  background: transparent url(images/bullet-arrow-down.gif) no-repeat center center;
}

.cart-help-text {
  font-size: x-small;
  position: relative;
  top: -5px;
}

/**
 * Styles for the cart block contents and summary.
 */
.cart-block-items {
  margin: 0;
  padding: 2px;
}

.cart-block-items.collapsed {
  display: none;
}

.cart-block-items tbody {
  border-top: 0;
}

.cart-block-items td {
  border: 0;
}

.cart-block-items tr {
  vertical-align: top;
}

.cart-block-items tr.odd,
.cart-block-items tr.even {
  background-color: inherit;
  border: none;
}

.cart-block-item-qty {
  white-space: nowrap;
}

.cart-block-item-title {
  width: 100%;
}

.cart-block-item-price {
  text-align: right;
  white-space: nowrap;
}

.cart-block-item-desc ul.product-description {
  margin: 0;
  padding: 0 0 0.25em 1em;
}

.cart-block-item-desc .product-description li {
  font-size: .8em;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.cart-block-summary {
  margin: 0;
  padding: 2px;
}

.cart-block-summary tbody {
  border-top: 0;
}

.cart-block-summary tr {
  background-color: transparent;
  vertical-align: top;
}

.cart-block-summary td {
  border: 0;
}

.cart-block-summary-items {
  white-space: nowrap;
}

.cart-block-summary-total {
  text-align: right;
  white-space: nowrap;
  width: auto;
}

.cart-block-summary-total label {
  display: inline;
  font-weight: bold;
}

.cart-block-summary-links td {
  text-align: right;
}

.cart-block-summary-links ul.links li {
  border-right: solid 1px;
  display: inline;
  padding: 0 1em 0 .75em;
}

.cart-block-summary-links ul.links li.last {
  border-right: none;
  padding-right: 0;
}

