/**
 * @file
 * Styles for uc_product module.
 */
.product-image {
  clear: right;
  float: right;
  margin-left: 4px;
  padding-left: 4px;
  padding-top: 4px;
  text-align: center;
}

.display-price {
  clear: right;
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 4px;
  padding-left: 4px;
 }

.model {
  display: inline;
  font-weight: bold;
  margin-right: 2em;
}

.uc-product-features td {
  vertical-align: top;
}

.add-feature div {
  padding-right: 1em;
}

.add-feature div,
.add-feature label {
  display: inline;
}

/**
 * Styles for uc_attribute.
 */
.combinations .form-item {
  margin: 0;
  padding: 0;
}

/**
 * Styles for uc_roles.
 */
.expiration {
  display: inline;
}

.expiration .form-item {
  display: inline;
}
