/*
/////////////////////////////////////////////

set sizes & positions on all 3 menu types

/////////////////////////////////////////////
*/
	  


	/*set sizes and positions on menu items*/
	ul.nice-menu ul li{
		width: 300px;
	}

	ul.nice-menu li.menu-2 li{
		width: 200px;
	}

	
	/* This is the default width of vertical menus. */
	ul.nice-menu-right, ul.nice-menu-left,
	ul.nice-menu-right li, ul.nice-menu-left li{
		width: 200px;
	}

	ul.nice-menu-down li ul li ul,
	#header-region ul.nice-menu-down li ul li ul { /* for Garland header */
		left: 125px;
		top: -1px;
	}

	/* stuff for VERTICAL menus where submenus pop RIGHT (default) */
	/*/////////////////////////////////////////////////////////////*/

	/*set width and position on flyouts*/
	ul.nice-menu-right ul,
	ul.nice-menu-right ul ul {
		width: 125px;
		top: -1px;
	}

	/*set position on first level flyout*/
	ul.nice-menu-right ul {
		left: 200px;
	}

	/*set position on second and subsequent level flyout*/
	/*-1 margin gets rid of double wide horiz divider*/
	ul.nice-menu-right ul ul {
		left: 125px;
		margin-left:-1px;
	}
	
	
	/* stuff for VERTICAL menus where submenus pop LEFT */
	/*//////////////////////////////////////////////////*/

	/*set width and position on flyouts*/
	ul.nice-menu-left ul,
	ul.nice-menu-left ul ul {
		width: 125px;
		top: -1px;
	}

	/*set position on first level flyout*/
	ul.nice-menu-left ul {
		left: -125px;
	}

	/*set position on second and subsequent level flyout*/
	/*-1 margin gets rid of double wide horiz divider*/
	ul.nice-menu-left ul ul {
		left: -125px;
	}


	/* stuff for HORIZONTAL menus where submenus pop DOWN */
	/*//////////////////////////////////////////////////*/
	ul.nice-menu-down {
                
		float: left;
		border: 0;
		display: inline;		
	}
	
	ul.nice-menu-down li {
		cursor: pointer;
height: 15px;
padding: 15px 27px 0 14px;
text-decoration: none;

	}
	
	ul.nice-menu-down li li {
		border-top: 0;
	}
	
	ul.nice-menu-down ul {
		left: 0;
	}
	
	ul.nice-menu-down ul li {
		clear: both;
		height:auto;
	}	
	
	

	
/*
/////////////////////////////////////////////

global settings for all menu items

/////////////////////////////////////////////
*/

	/*/////////////////////////////////////////////////////////////////////////////*/
	/*/////////////////////////////////////////////////////////////////////////////*/
	/* #header-region will need to be changed to match header div ID in your theme */
	/*/////////////////////////////////////////////////////////////////////////////*/
	/*/////////////////////////////////////////////////////////////////////////////*/	

	/* Overrides for Garland Header */
	#header-region ul.nice-menu ul { /* for Garland header */
		top: 23px;
		left: -1px;
		border: 0;
		border-top: 1px solid #ccc;
		margin: 0;
	}
	
	#header-region ul.nice-menu li {
		margin: 0;
		padding: 0;
		line-height: normal;
		text-indent: 4px;
	}
	
	



	/*remove border, padding, margin, bullets from all items*/
  ul.nice-menu,
  ul.nice-menu ul,
  ul.nice-menu li {
    list-style: none;
  	padding: 0;
	  margin: 0;
		border: 0;
		float: left;
  }
	
	/*set bkgrd color of top level menu items*/
  ul.nice-menu li,
	ul.nice-menu li.menuparent {
		background-color: none;
  }

	/*set bkgrd color of flyouts*/
	ul.nice-menu li li,
  ul.nice-menu li li.menuparent { 
    background: white;
margin-left: 2px;
margin-right: 2px;  }

	/*set top border and bkgrd on whole flyout <ul>*/
	li.menuparent ul {
		border-top: 1px solid #ccc;
		border-right: 1px solid #ccc;
		background: #fff;
	}
	
	/*set border on other 3 sides for each flyout <li>*/
	/*set width on 2nd level flyout*/
	li.menuparent ul li a{
		display: block;
		padding: 5px 10px;
		text-align: left;
		font-weight: normal;
		color: #524D4D;
	}  

	


/*
/////////////////////////////////////////////

here we apply iamges to the top level nav choices, and override the flyouts back to 'normal'

/////////////////////////////////////////////
*/


	/*/////////////////////////////////////////////////////////////////////////////*/
	/*/////////////////////////////////////////////////////////////////////////////*/
	/* #menu-2, menu-105, etc will need to be changed to match the numbers       */
	/* your menu setup is using. a block of declarations gets created for each 		 */
	/* menu number, as is done below                                               */
	/*/////////////////////////////////////////////////////////////////////////////*/
	/*/////////////////////////////////////////////////////////////////////////////*/	


	/*set up a declaration block for each menu item number*/
	/*set bkgrd graphic on top level menu item*/
	/*set image on <li> as well as the link so there is no flicker on first rollover*/
	/*set size of item to match graphic size*/
	/*set background not to indent on <li>*/
	/*indent text far to the left so it is not seen, but is still accessible to screen readers*/
  ul.nice-menu li#menu-2,
	ul.nice-menu li#menu-2 a:link,
	ul.nice-menu li#menu-2 a:visited  {
	background-image:url(images/nav-calendar_off.gif);
	background-position: 0px 0px;
	padding: 0px;
	height: 23px;
	width: 200px;
	text-indent: -5000px;
  }
	
  ul.nice-menu li#menu-105,
	ul.nice-menu li#menu-105 a:link,
	ul.nice-menu li#menu-105 a:visited {
	background-image:url(images/nav-contact_off.gif);
	background-position: 0px 0px;	
	padding: 0px;
	height: 23px;
	width: 200px;
	text-indent: -5000px;
  }
	
	
	ul.nice-menu li#menu-108,
	ul.nice-menu li#menu-108 a:link,
	ul.nice-menu li#menu-108 a:visited {
	background-image:url(images/nav-languages_off.gif);
	background-position: 0px 0px;	
	padding: 0px;
	height: 33px;
	width: 200px;
	text-indent: -5000px;
  }




	/*set up a matching declaration block for each menu item number to set rollvoer bkgrd graphic on hover and active states*/
	/*set size of item to match graphic size*/
	/*indent text far to the left so it is not seen, but is still accessible to screen readers*/
div.column-structure {
width: 200px;
padding-left: 0px;
margin: 0 5px 0 0;
padding-bottom: 10px;
background: #F2F2F0;
-webkit-box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 12px 25px #000000;
box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
border: 8px solid #F2F2ED;}
ul#nice-menu-1, 
ul#nice-menu-6  {
webkit-transition: opacity 0.25s linear;
-moz-transition: opacity 0.25s linear;
-ms-transition: opacity 0.25s linear;
-o-transition: opacity 0.25s linear;
transition: opacity 0.25s linear;
opacity: 1;
-moz-opacity: 1;
-webkit-opacity: 1;
filter: alpha(opacity=100);
}

ul#nice-menu-1 > li.menuparent,
ul#nice-menu-6 > li.menuparent,  
ul#nice-menu-2 > li.menuparent  {
 background: url(http://assets2.giltcdn.com/assets/201208172000-7f82c88642/images/gilt2/default/primary-nav-search.png) -10px -134px no-repeat;
height: 20px;
/*margin-top: 10px;*/
}

ul#nice-menu-1 > li.menuparent > a,
ul#nice-menu-6 > li.menuparent > a,  
ul#nice-menu-2 > li.menuparent > a, 
ul#nice-menu-1 > li.menuparent > span,
ul#nice-menu-6 > li.menuparent > span,  
ul#nice-menu-2 > li.menuparent > span   {
padding: 23px 10px 20px 10px;
color: #383838;
}


ul#nice-menu-1 > li.menuparent, 
ul#nice-menu-6 > li.menuparent,
ul#nice-menu-2 > li.menuparent    {
font-size: 13px;
/*height: 10px;*/
/*padding: 26px 22px 25px 22px;*/
text-transform: uppercase;
border-top: 4px solid transparent;
border-right: 1px solid transparent ;
border-left: 1px solid transparent;
color: #383838;
font-family: 'Proxima Nova Semibold',Arial,sans-serif;
background-color: transparent;
display: block;
position: relative;
text-align: center;
text-decoration: none;
z-index: 122;
/*width:auto;*/
min-width:0px;
 background: url(http://assets2.giltcdn.com/assets/201208172000-7f82c88642/images/gilt2/default/primary-nav-search.png) -10px -124px no-repeat;
height: auto;
/*margin-top: 10px;*/

}
ul#nice-menu-1 > li.first, 
ul#nice-menu-6 > li.first,
ul#nice-menu-2 > li.first  {
background: transparent;
}

/*  ul#nice-menu-1 > li.menuparent > a:hover,
  ul#nice-menu-1 > li.menuparent > a:active, 
  ul#nice-menu-1 > li.menuparent > a:after,
  ul#nice-menu-1 > li.menuparent > li:hover {
   	 border-top-color: #C98702;
   	 color: #C98702;
         background:  #F2F2F0;
         border-top: 4px solid ;
border-right: 1px solid ;
border-left: 1px solid ;
  }
*/
ul#nice-menu-1 > li.active-trail, 
 ul#nice-menu-6 > li.active-trail, 
 ul#nice-menu-2 > li.active-trail{
/*border-top-color: #C98702;
color: #C98702;
border-right:transparent;
border-left:transparent ;
color:#C98702;background:#F2F2ED;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f2f2ed));background:-moz-linear-gradient(top, #ffffff, #f2f2ed);background:-ms-linear-gradient(top, #ffffff, #f2f2ed);background:-o-linear-gradient(top, #ffffff, #f2f2ed);background:linear-gradient(top, #ffffff, #f2f2ed);-webkit-box-shadow:0 0 2px 0 #d5d5d5;-moz-box-shadow:0 0 2px 0 #d5d5d5;box-shadow:0 0 2px 0 #d5d5d5;
*/
}
ul#nice-menu-1 > li.active-trail > a, 
 ul#nice-menu-6 > li.active-trail > a, 
 ul#nice-menu-2 > li.active-trail > a{
/*border-top-color: #C98702;
color: #C98702;
border-right:transparent;
border-left:transparent ;
color:#C98702;background:#F2F2ED;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f2f2ed));background:-moz-linear-gradient(top, #ffffff, #f2f2ed);background:-ms-linear-gradient(top, #ffffff, #f2f2ed);background:-o-linear-gradient(top, #ffffff, #f2f2ed);background:linear-gradient(top, #ffffff, #f2f2ed);-webkit-box-shadow:0 0 2px 0 #d5d5d5;-moz-box-shadow:0 0 2px 0 #d5d5d5;box-shadow:0 0 2px 0 #d5d5d5;
*/
}

 ul#nice-menu-1 > li:hover, 
 ul#nice-menu-6 > li:hover, 
 ul#nice-menu-2 > li:hover{
border-top-color: #C98702;
color: #C98702;
border-right:transparent;
border-left:transparent ;
color:#C98702;background:#F2F2ED;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f2f2ed));background:-moz-linear-gradient(top, #ffffff, #f2f2ed);background:-ms-linear-gradient(top, #ffffff, #f2f2ed);background:-o-linear-gradient(top, #ffffff, #f2f2ed);background:linear-gradient(top, #ffffff, #f2f2ed);-webkit-box-shadow:0 0 2px 0 #d5d5d5;-moz-box-shadow:0 0 2px 0 #d5d5d5;box-shadow:0 0 2px 0 #d5d5d5;
}
#nice-menu-1 > li div, 
#nice-menu-6 > li div, 
#nice-menu-2 > li div  {
  visibility:hidden;
  z-index:999;
  padding:8px;
  width:auto;
  height:auto;
  overflow: visible;
  background-color:grey;
}
#nice-menu-1 > li div:hover, 
#nice-menu-6 > li div:hover, 
#nice-menu-2 > li div  {
  visibility:visible;
}
#nice-menu-1 > li ul, 
#nice-menu-6 > li ul, 
#nice-menu-2 > li ul  {
 visibility: hidden;
z-index: 999;
padding: 12px;}
 #nice-menu-1 > li:hover ul,
 #nice-menu-6 > li:hover ul,  
 #nice-menu-2 > li:hover ul

 {
  visibility:visible;
  z-index:999;
  overflow:visible;
color:#C98702;background:#F2F2ED;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f2f2ed));background:-moz-linear-gradient(top, #ffffff, #f2f2ed);background:-ms-linear-gradient(top, #ffffff, #f2f2ed);background:-o-linear-gradient(top, #ffffff, #f2f2ed);background:linear-gradient(top, #ffffff, #f2f2ed);-webkit-box-shadow:0 0 2px 0 #d5d5d5;-moz-box-shadow:0 0 2px 0 #d5d5d5;box-shadow:0 0 2px 0 #d5d5d5;
}
  ul#nice-menu-1 > li li.nav-item, 
  ul#nice-menu-6 > li li, 
  ul#nice-menu-2 > li li.nav-item    {
     padding:0px;
     height:25px;
  }

/* ul#nice-menu-1 > li li.nav-item a {
    font-size:10px;
    text-align:left;
    padding:0px;
    text-transform: uppercase;
    margin-top: 0px;
    border-top: 0px solid transparent;
    border-right: 0px solid transparent;
    border-left: 0px solid transparent;
    padding-left: 10px;
    padding-top: 10px;
}
*/
 ul#nice-menu-1 > li li.nav-item > a, 
 ul#nice-menu-6 > li li > a, 
  ul#nice-menu-2 > li li.nav-item > a  {
    font-size:10px;
    text-align:left;
    padding:0px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-top: 10px;
}


 ul#nice-menu-1 > li li.nav-item:hover,
 ul#nice-menu-1 > li li.nav-item a:hover,
 ul#nice-menu-6 > li li:hover,
/* ul#nice-menu-6 > li li a:hover,*/
  ul#nice-menu-2 > li li.nav-item:hover,
 ul#nice-menu-2 > li li.nav-item a:hover

	 ul#nice-menu-1 li li.nav-item a:active {
/*	border-top-color: transparent;
         border-top:none ;
	border-right:none ;
	border-left:none ;*/
	color: #FAFAF7;
	background-color: #C98702;

}


/*
ul#nice-menu-2 > li.menuparent {
 height:65px;
}

ul#nice-menu-2 > li.menuparent a {
padding: 0px 10px 20px 10px;
}


ul#nice-menu-2 li.menuparent {
font-size: 13px;
height: 10px;
text-transform: uppercase;
margin-top: 10px;
border-top: 4px solid transparent;
border-right: 1px solid transparent ;
border-left: 1px solid transparent;
color: #383838;
font-family: 'Proxima Nova Semibold',Arial,sans-serif;
background-color: transparent;
display: block;
position: relative;
text-align: center;
text-decoration: none;
z-index: 122;
min-width:0px;
}

/*  ul#nice-menu-1 > li.menuparent > a:hover,
  ul#nice-menu-1 > li.menuparent > a:active, 
  ul#nice-menu-1 > li.menuparent > a:after,
  ul#nice-menu-1 > li.menuparent > li:hover {
   	 border-top-color: #C98702;
   	 color: #C98702;
         background:  #F2F2F0;
         border-top: 4px solid ;
border-right: 1px solid ;
border-left: 1px solid ;
  }
*/
/* ul#nice-menu-2 > li:hover{
border-top-color: #C98702;
color: #C98702;
border-right:transparent;
border-left:transparent ;
}
*/
#n/* user menu styling -> nice-menu-3 */
#nice-menu-3, 
#nice-menu-5 {
margin-top: 6px;
padding-top:10px;
}
#nice-menu-3{
/*padding-top:17px;*/
}

#nice-menu-3 a, 
#nice-menu-5 a{
font-size:12px;
}

#nice-menu-3 li.menuparent a, 
#nice-menu-3 li a,
#nice-menu-5 li.menuparent a,
#nice-menu-5 li a{
padding-right: 22px;
color: #737373;
}
#nice-menu-1 > li.menuparent > a:hover, 
#nice-menu-1 > li > a:hover,
#nice-menu-2 > li.menuparent > a:hover, 
#nice-menu-2 > li > a:hover,
#nice-menu-3 > li.menuparent > a:hover, 
#nice-menu-5 > li.menuparent > a:hover{
color: #C98702;
text-decoration: none;
}
ul#nice-menu-1 > li > ul > li > a, 
 ul#nice-menu-6 > li > ul > li > a, 
 ul#nice-menu-2 > li > ul > li > a{
  font-size:11px;
  color:#787878;

}

ul#nice-menu-1 > li > ul > li > a:hover, 
 ul#nice-menu-6 > li > ul > li > a:hover, 
 ul#nice-menu-2 > li > ul > li > a:hover{
  color:white;
  text-decoration: none;
  font-size:11px;

}

ul#nice-menu-1 > li ul > li:hover, 
 ul#nice-menu-6 > li  ul > li:hover, 
 ul#nice-menu-2 > li  ul > li:hover{
  background-color: #C98702;
  color:white;
}


#nice-menu-3 div.account-dropdown-arrow {
width: 0;
height: 0;
float: right;
margin: 5px 10px 0px 10px;
border-left: 3px solid transparent;
border-right: 3px solid transparent;
border-top: 3px solid #737373;
z-index: 5;
position: absolute;
right: 0;
}


  ul.nice-menu li#menu-105 a:hover,
	ul.nice-menu li#menu-105 a:active {
	background-image:url(images/nav-contact_on.gif);
  }
	
  ul.nice-menu li#menu-108 a:hover,
	ul.nice-menu li#menu-108 a:active {
	background-image:url(images/nav-languages_on.gif);
  }	


	/*reset flyout items to not have the graphic treatment*/
	/*reset all menu item numbers in one statement*/
  ul.nice-menu li#menu-2 ul li a:link,
	ul.nice-menu li#menu-2 ul li a:visited,
  ul.nice-menu li#menu-2 ul li a:hover,
	ul.nice-menu li#menu-2 ul li a:active,

  ul.nice-menu li#menu-105 ul li a:link,
	ul.nice-menu li#menu-105 ul li a:visited,	
  ul.nice-menu li#menu-105 ul li a:hover,
	ul.nice-menu li#menu-105 ul li a:active,
	
  ul.nice-menu li#menu-108 ul li a:link,
	ul.nice-menu li#menu-108 ul li a:visited,	
  ul.nice-menu li#menu-108 ul li a:hover,
	ul.nice-menu li#menu-108 ul li a:active {
	background-image:none;
	padding: 3px 0px 3px 0px;
	display: block;
	width: 100%;
	height: auto;
	text-indent: 4px;
  }




/*
/////////////////////////////////////////////

remove extra space to get menus and spacer blocks to snug up

/////////////////////////////////////////////
*/
	
	/*strip off all padding and margins from eacm menu set*/	
	div #block-nice_menus-1,
	div #block-nice_menus-1 div.content,

	div #block-nice_menus-2,
	div #block-nice_menus-2 div.content {
	
		/*!important is kludgy, but it lets us override without having to 
		stack up IDs that will change from one site/template to another*/
		padding: 0 !important;
		margin: 0 !important;
			
	}
	
			
	/*hide the block titles on our menus*/
	#block-nice_menus-1 h2,
	#block-nice_menus-2 h2 {
	
		display: none;
		
	}
	
	
	
	/*strip extra padding and margin from spacer block*/
	#header-region #block-block-1,
	#header-region #block-block-1 div.content,
	#header-region #block-block-1 div.content p,	
	
	#block-block-1,
	#block-block-1 div.content,
	#block-block-1 div.content p {
	
		padding: 0 !important;
		margin: 0 !important;	
		line-height: 0 !important;	
	
	}
	
	
	/*stip extra padding and margin from spacer block*/
	#header-region #block-block-1,
	#header-region #block-nice_menus-1,
	#header-region #block-nice_menus-2	
	
	{
	
		display: inline !important;
		float: left !important;
	
	}
