.sortable ul.ui-sortable { 
    margin: 0; 
    padding: 0; 
}
.sortable ul.ui-sortable li { 
    list-style-image: none; 
    list-style-type: none; 
    margin: 3px 3px 3px 0; 
    padding: 1px; 
    float: left;
    width:100px;
    height:100px; 
    font-size: 1em; 
    text-align: center; 
    cursor:pointer;
    cursor:hand;
    border:grey 1px solid;
    background:#eee;
    overflow:hidden;
}
.sgrid-nid {
    display:none;
    visibility:hidden;   
}
.sortable ul.ui-sortable li.sgrid-line-end {
    clear:left;   
}
#sgridorder {
    display:none;   
}
