
/* ---------- Basic Layout Styles ----------- */

html,
body,
#page  {
  height: 100%;
  background: white; 
}
#page-wrapper {
  min-height: 100%;
 }
.header-sub1 {
width:100%;
height:52px;
}
.header-sub1 .block {
float:right;
}

#header div.section,
#headerColumns div.section,
#secondary-nav div.section,
#featured div.section,
#messages div.section,
#main,
#triptych,
#footer-columns,
#footer {
  width: 933px;
  margin-left: auto;
  margin-right: auto;
}
/*Media Queries*/

 
 
#header div.section {
  position: relative;
}
.region-header {
  float: left; /* LTR */
 // margin: 0 5px 10px;
}
.with-secondary-menu .region-header {
  margin-top: 3em;
}
.without-secondary-menu .region-header {
 // margin-top: 15px;
 width:100%;
}
#secondary-menu {
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  width: 480px;
}


#content,
#sidebar-first,
#sidebar-second,
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn,
.region-header-firstcolumn,
.region-header-secondcolumn
 {
  display: inline;
  float: left; /* LTR */
  position: relative;
}
.region-header-thirdcolumn
{
  float:right;
}
.one-sidebar #content {
  width: 720px;
}
.two-sidebars #content {
  width: 480px;
}
.no-sidebars #content {
  width: 960px;
  float: none;
}
#sidebar-first,
#sidebar-second {
  width: 240px;
}
#main-wrapper {
  min-height: 650px;
}
#content .section,
.sidebar .section {
  /* padding: 0 15px;*/
}
#breadcrumb {
  border-bottom: 1px solid #E9E8E6;
}
.region-triptych-middle
{
  margin: 0px 20px 30px;
  width: 620px;
}

.region-triptych-last {
  margin: 0px 0px 30px;
  width: 280px;
}
#footer-wrapper {
  padding: 35px 5px 30px;
}
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn
#header div.region-header-firstcolumn,
.region-header-secondcolumn,
#header div.region-header-thirdcolumn
 {
  padding: 0 10px;
  width: 220px;}
#header div.region-header-thirdcolumn
{
  float:right;
}

#footer {
  width: 940px;
  min-width: 920px;
}
