/**
Main stylesheet for Arti by www.SooperThemes.com
Author: Jurriaan Roelofs

TABLE OF CONTENTS:
0. Variables and Mixins
1. Typography
2. Layout styling
3. Drupal Elements

*/

@import "base";

/**
 * [ 0 ] VARIABLES AND MIXINS
 */

@mixin tabs {
  margin: 0 3px 5px 0;
  text-decoration: none;
  font-size:80%;
  padding: 4px 15px;
  background:#f3f3f3;
  color:#aaa;
  display:inline;
  border-radius:15px;
  line-height:2em;
  &:hover {
    background-color: #eee;
  }
  &.active {
    color: #f3f3f3;
    background:#444;
  }
}

/**
 * [ 1 ] TYPOGRAPHY
 */

body {
  font: 13px/1.5em helvetica, arial, verdana, sans-serif;
  background:url('../images/grid-paper.png');
  color: #444;
}

.mast {
  background:#fff;
}

#page {
  margin-top:20px;
  margin-bottom:120px;
  padding-top:1px;
  padding-bottom:1px;
}

a:link,
a:visited {
  color:#54beff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: helvetica, arial, verdana, sans-serif;
  font-weight: normal;
  line-height:1em;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom:20px;
}

h1.site-name {
  font-size: 370%;
  a {
    text-decoration:none;
  }
}

h1 {
  font-size: 218%;
}

h2 {
  font-size: 164%;
}

h3 {
  font-size: 145%;
}

h4, nav {
  font-size: 118%;
}

.voice2,
.comment .content {
  font-family:"Times New Roman", Times, Georgia, serif;
  font-style:italic;
  line-height:1.3em;
}


/**
 * [ 2 ] LAYOUT STYLING
 */

a.logo {
  display:block;
  float:left;
}

h1.site-name {
  float:left;
}

.main {
  @include clearfix;
}

.main img {
  border:2px solid #bebebe;
}

.grid-inner h2 {
  margin:10px 0;
  line-height:1em;
}

@media screen and (max-width:768px) {
  .grid-inner h2 {
    margin:5px 0;
  }
}

@media screen and (max-width:320px) {
  .grid-inner h2 {
    margin:3px 0;
  }
}

.region-content-top,
.region-content-bottom {
  background:#fff;
  clear:both;
}

.region-content-top {
  border-bottom:1px solid #bebebe;
}

.region-content-bottom {
  border-top:1px solid #bebebe;
}

/**
 * [ 3 ] DRUPAL ELEMENTS
 */

/**
 * Primary & Secondary navigation
 */

.masthead {
  clear:both;
  padding:1px 0;
  @include clearfix;
  .grid-inner {
    padding:1px 0; // Prevent margins from collapsing
    float:left;
    &.secondary-menu {
      float:right;
    }
  }
  .menu,
  .links {
    text-align:left;
    float:left;
    li {
      display:inline;
      margin-right:0.5em;
      a {
        text-decoration:none;
        color:#aaa;
        &:hover, &:focus {
          color:#54beff;
        }
      }
    }
  &#secondary-menu {
    text-align:right;
    float:right;
  }
  }
}

/**
 * Nodes
 */

.node {
  .field-type-taxonomy-term-reference {
    .field-item a {
      @include tabs;
      float:left;
    }
  }
  .author {
    @include tabs;
    float:right;
  }
  footer .links {
    list-style:none;
    list-style-type:none;
    width:100%;
    @include clearfix;
    margin:20px 0;
    li {
      display:inline;
    }
    a {
    @include tabs;
    font-size:100%;
    }
  }
  .field-label {
    clear:both;
  }
  .content {
    width:100%;
  }
}

/**
 * Comments
 */

.comment {
  font-size:15px;
  border-top:1px dotted #aaa;
  padding-top:10px;
  h3 {
    font-size:15px;
    color:#444;
    a {
      color:#444;
      text-decoration:none;
    }
  }
  header {
    @include tabs;
    float:left;
  }
  footer {
    float:right;
    .links {
      list-style:none;
      list-style-type:none;
      display:inline;
      li {
        display:inline;
        a {
          @include tabs;
        }
      }
    }
  }
  .content {
    clear:both;
    margin-left:0;
    margin-right:0;
  }
}